/* Add New Album */
#add-new-album-details {
    margin-left: 100px;
    margin-right: 100px;

    #add-new-album-title {
        border-bottom: 4px double #dadada;

        h1 {
            margin: 0;
            text-align: center;
            padding-bottom: 15px;
            font-weight: bold;
        }
    }

    #image-cover-preview {
        img {
            margin: 20px;
            border-radius: 50%;
            float: right;
        }

        &:before {
            position: absolute;
            content: ' ';
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #ffffff;
            z-index: 1;
            right: 135px;
            top: 120px;
        }
    }

    .col-md-8 {
        margin: 20px;

        #album-genres {
            position: relative;

            .control-label {
                top: 10px;
                position: absolute;
            }

            #tags {
                width: 85%;
                height: 34px;
                margin-left: 95px;
                margin-bottom: 10px;

                &.error {
                    border-color: red;
                }

                &.success {
                    border-color: green;
                }

                .tag-selector {
                    border-radius: 3px;
                    cursor: text;
                    display: inline-block;
                    overflow: hidden;
                    padding: 3px;
                    vertical-align: baseline;
                    width: 100%;
                    background-color: #FFF;
                    border: 3px double black;
                    height: 34px;
                }

                #search-genres {
                    border: none;
                    border-radius: 0;
                    width: auto;
                    min-width: 50px;
                    float: left;
                    white-space: nowrap;
                    height: 22px;
                    padding: 6px;
                }

                .tag {
                    background: black;
                    border-radius: 3px;
                    color: #FFF;
                    float: left;
                    height: 20px;
                    padding: 0.1em 0.4em 1.5em;
                    margin-right: 0.3em;
                    margin-bottom: 0.3em;
                    vertical-align: baseline;
                    margin-top: auto;

                    a {
                        color: #FFF;
                        cursor: pointer;
                        margin-left: 5px;

                        &:hover {
                            color: #0099CC;
                            text-decoration: none;
                        }
                    }
                }
            }

            #genres-results {
                margin-top: -15px;
                margin-left: 95px;

                ul {
                    padding: 0;
                    list-style-type: none;

                    li {
                        padding: 0 5px;
                        line-height: 30px;
                        text-align: justify;
                        border: 4px double black;
                        list-style-type: none;
                        font-weight: bold;
                        width: 180px;
                        cursor: pointer;
                        vertical-align: baseline;
                    }
                }
            }
        }

        .form-group {
            &:last-of-type {
                margin-top: 30px;
            }

            .form-control {
                width: 85%;
                display: inline-block;
                margin-left: 6px;
                border: 3px double black;
                color: black;
                padding: 6px;
            }

            .error-message {
                color: red;
                margin-bottom: 10px;
            }

            input, textarea {
                &.error {
                    border-color: red;
                }

                &.success {
                    border-color: green;
                }
            }

            #album-artist {
                margin-left: 53px;
            }

            #album-image {
                margin-left: 20px;
            }

            #album-year {
                margin-left: 59px;
            }

            #album-description {
                margin-left: 0;
                margin-top: 0;
                height: 250px;
                text-align: justify;
                resize: none;
                float: right;
                padding: 6px;
            }
        }
    }
}

/* Add Album Playlist */
#add-album-playlist-details {
    margin-left: 100px;
    margin-right: 100px;

    #add-album-playlist-title {
        border-bottom: 4px double #dadada;

        h1 {
            margin: 0;
            text-align: center;
            padding-bottom: 15px;
            padding-top: 15px;
            font-weight: bold;
        }
    }

    #add-album-playlist-form {
        margin-left: 20px;
        margin-top: 20px;

        .error-message {
            color: red;
            margin-left: 15px;
        }

        input {
            &.error {
                border-color: red;
            }

            &.success {
                border-color: green;
            }
        }

        .song-item {
            margin: 20px 0 20px 0;

            .error-message {
                color: red;
                margin-bottom: 25px;
                margin-left: 0;
                margin-top: -25px;
            }

            & > .error-message {
                margin-bottom: 30px;
            }

            input {
                &.error {
                    border-color: red;
                }

                &.success {
                    border-color: green;
                }
            }

            &.error {
                .form-group.song input, span {
                    border-color: red;
                }
            }

            &.success {
                .form-group.song input, span {
                    border-color: green;
                }
            }
        }

        .form-control {
            border: 3px double black;
            color: black;
        }

        .youtube-id-label {
            position: absolute;
            top: 8px;
        }

        .youtube-id {
            position: absolute;
            top: 0;
            left: 100px;
            margin-left: auto;
            width: 275px;
            padding: 6px;
        }

        .song-name-label {
            position: absolute;
            top: 8px;
            left: 385px;
        }

        .song-name {
            position: absolute;
            top: 0;
            left: 470px;
            margin-left: auto;
            width: 275px;
            padding: 6px;
        }

        .song-time-label {
            position: absolute;
            top: 8px;
            left: 755px;
        }

        .song-time {
            width: 70px;
            position: absolute;
            top: 0;
            left: 835px;
            margin-left: auto;
            text-align: center;
        }

        .remove-icon {
            position: absolute;
            border-radius: 50%;
            padding: 0 7px;
            top: 0;
            background: #dadada;
            font-size: 24px;
            -moz-transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            left: 920px;
            color: #000000;
            cursor: pointer;
        }
    }

    #add-another-song-button {
        background-color: transparent;
        display: block;
        cursor: pointer;
        font-size: 20px;
        text-decoration: none;
        border: none;
        box-sizing: border-box;
        padding: 12px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 8px;
        float: left;
    }

    .pull-right {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 8px;

        #reset-album-button {
            background-color: black;
            display: block;
            cursor: pointer;
            color: white;
            font-size: 20px;
            padding: 12px 24px;
            text-decoration: none;
            border: none;
            width: 250px;
            box-sizing: border-box;
            margin-right: 10px;
            float: left;

            &:hover {
                background-color: #0F70A1;
                color: white;
            }
        }

        #finish-and-save-button {
            background-color: black;
            display: block;
            cursor: pointer;
            color: white;
            font-size: 20px;
            padding: 12px 24px;
            text-decoration: none;
            border: none;
            width: 250px;
            box-sizing: border-box;

            &:hover {
                background-color: #0F70A1;
                color: white;
            }
        }
    }
}