/*Modal*/
/*Add new album (form)*/
/*label, .form-control, button {
    margin: 10px 10px 0;
}*/

.form-control {
    width: 85%;
    display: inline-block;
    margin-left: 6px;
    border: 3px double black;
}

.cover-preview {
    /*top: 50px;*/
    margin: 20px;
}

/*.cover-preview img {
    /*border-radius: 50%;*/
    /*width: 100%;
}*/

/*.cover-preview:before {
    position: absolute;
    content: ' ';
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: #ffffff;
    z-index: 1;
    left: calc(50% - 195px);
    top: calc(50% - 30px);
}*/

input.error-value {
    border: 1px solid red;
}


.modal-content .modal-header .modal-title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.modal-header .close {
    margin-top: -10px;
    margin-right: -5px;
    font-size: 30px;
}

#artist-name {
    margin-left: 53px;
}

#image-url {
    margin-left: 20px;
}

#year {
    margin-left: 59px;
}

.add-new-album-title {
    border-bottom: 1px solid #dadada;

    h1 {
        margin: 0;
        text-align: center;
        padding-bottom: 15px;
    }
}

#add-new-album-details {
    margin-left: 105px;
    margin-right: 105px;
}

#add-new-album-form .col-md-8 {
    margin: 20px;
}

#description {
    margin-left: 0;
    width: 85%;
    margin-top: 0;
    height: 250px;
    text-align: justify;
    resize: none;
    float: right;
}

label .control-label .form-group {
    margin-bottom: 12px;
}

#save-album {
    background-color: black;
    display: block;
    cursor: pointer;
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    text-decoration: none;
    border: none;
    width: 250px;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-right: 20px;

}

#reset-album {
      background-color: black;
      display: block;
      cursor: pointer;
      color: white;
      font-size: 18px;
      padding: 12px 24px;
      text-decoration: none;
      border: none;
      width: 250px;
      box-sizing: border-box;
      margin-bottom: 10px;
      margin-right: 20px;
      margin-top: 20px;
}


#save-album:hover,
#reset-album:hover {
    background-color: #0F70A1;
    color: white;
}

label.control-label.form-group {
    float: left;
    height: 34px;
}