#album-info {
    ol#current-playlist {
        li {
            cursor: pointer;

            &.playing {
                font-weight: bold;
            }
        }
    }

    #player-controls {
        display: none;
    }
}