/*Body*/
/*#music-box{
    position: relative;
    display: block;
    height: 500px;
    border: 4px double;
    margin-top: 40px;
    box-sizing: border-box;
}*/

/*Player*/
/*OK*/
#player-box {
    /*background: #0F70A1;*/
    /*background: #000000;
    position: relative;
    display: block;
    border-radius: 150px;
    margin-bottom: 20px;
    border: 1px solid black;
    color: #ffffff;
    opacity: 0.85;*/

    /*background: #0F70A1;*/
    background: #000000;
    position: relative;
    display: block;
    border-radius: 150px;
    margin-bottom: 75px;
    /* border: 1px solid black; */
    color: #ffffff;
    opacity: 0.85;
    top: 50px;
}

/*OK*/
#album-cover {
    position: relative;
    margin: 12px 0 12px -15px;
}

/*OK*/
#album-cover:before {
    position: absolute;
    content: ' ';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ffffff;
    z-index: 1;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
}

#album-cover img {
    border-radius: 50%;
    width: 100%;
}

.spin {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*OK*/
#current-playlist {
    /*list-style-type: none;*/
    /*margin-top: 10px;
    padding: 0;
    margin-left: 20px;*/

    margin-top: 10px;
    padding: 0;
    margin-left: 40px;
    font-size: 18px;
}

#current-playlist li a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.65;
}

#current-playlist li.Now-Playing a,
#current-playlist li.Now-Pause a {
    pointer-events: none;
    cursor: default;
    opacity: 1;
}

#current-playlist li a:hover {
    opacity: 1;
}



/*OK*/
#mp3-player {
    margin-top: 15px;
    width: 85%;
}

.song-sign .song-play,
.song-sign .song-pause,
.Now-Playing .song-id,
.Now-Pause .song-id {
    display: none;
}

.Now-Playing .song-play,
.Now-Pause .song-pause {
    display: inline-block;
}

/*Album list (display of disks)*/
/*OK*/
.box-body {
    padding: 35px 0;
    box-sizing: border-box;
    /*background-color: red;*/
}

#album-list {
    min-height: 400px;
    top: 35px;
}

#album-list.loading {
    background: url(../images/loader.gif) no-repeat center center;
}

/*OK*/
.album-name {
    font-weight: bold;
    /*margin: 20px;*/
}

/*OK*/
.record {
    position: relative;
    display: block;
    /*border: 1px solid black;*/
    /*margin: 0 40px;*/
    margin: 0 25px;
    opacity: 0.75;
}

/*OK*/
.record:hover {
    opacity: 1;
}

/*OK*/
.record img {
    margin-top: 20px;
    /*margin-bottom: 30px;
    border-radius: 50%;*/
}

/*OK*/
.record:before {
    position: absolute;
    content: ' ';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ffffff;
    z-index: 1;
    left: calc(50% - 25px);
    top: calc(50% - 5px);
}

/*OK*/
.record .play-icon,
#album-cover .play-icon {
    position: absolute;
    top: 125px;
    opacity: 0;
    font-size: 30px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    color: #000000;
    text-align: center;
    width: 100%;
    z-index: 5;
}

/*OK (Player)*/
#album-cover .play-icon {
    opacity: 1;
    top: 96px;
}

/*OK*/
.record .play-icon .fa,
#album-cover .play-icon .fa {
    /*background: #ffffff;
    border-radius: 50%;
    padding: 3px 5px;
    margin-top: 5px;*/
    margin-top: 20px;
}

/*OK*/
a.play-icon {
    margin-top: -3px;
}

#album-cover .play-icon .fa {
    margin-left: -30px;
    margin-top: 15px;
}

#album-cover .play-icon .fa-pause {
    margin-left: -35px;
}

.record .play-icon .fa:before,
#album-cover .play-icon .fa:before {
    padding-left: 2px;
}

/*OK*/
.record .remove-icon {
    position: absolute;
    border-radius: 50%;
    padding: 0 5px;
    top: 55px;
    opacity: 0;
    background: #dadada;
    font-size: 15px;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    /*left: 75px;*/
    left: 90px;
    color: #000000;
}

/*OK*/
.record .edit-icon {
    position: absolute;
    border-radius: 50%;
    padding: 0 5px;
    top: 55px;
    opacity: 0;
    background: #dadada;
    font-size: 15px;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    /*left: 105px;*/
    left: 120px;
    color: #000000;
}

/*OK*/
.record:hover .play-icon,
.record:hover .remove-icon,
.record:hover .edit-icon {
    opacity: 1;
}

/*.curved-text span {
    font: 26px Monaco, MonoSpace;
    height: 115px;
    position: absolute;
    width: 20px;
    left: 0;
    top: 0;
    transform-origin: bottom center;
    background-color: red;
}*/

.curved-container {
    /*position: absolute;
    position: static;
    top: 0;
    left: 30px;
    border-radius: 50%;
    transform: rotate(-32deg);*/
}

/*Modal*/

/*Add new album (form)*/
label, .form-control, button {
    margin: 10px 10px 0;
}

.form-control {
    width: 90%;
}

.cover-preview {
    top: 50px;
}

.cover-preview img {
    border-radius: 50%;
    /*width: 100%;*/
}

.cover-preview:before {
    position: absolute;
    content: ' ';
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: #ffffff;
    z-index: 1;
    left: calc(50% - 195px);
    top: calc(50% - 30px);
}

input.error-value {
    border: 1px solid red;
}

/*Add album playlist (form)*/