/*Album list (display of disks)*/
#album-list {
    min-height: 400px;
    top: 50px;
    margin-left: 50px;
    margin-right: 50px;

    &.loading {
        background: url(../images/loader.gif) no-repeat center center;
    }

    .col-md-3 {
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 50px;

        .record {
            position: relative;
            display: block;
            opacity: 0.75;
            transition: opacity .5s;

            &:hover {
                opacity: 1;
                transition: opacity .5s;
            }

            &:before {
                position: absolute;
                content: ' ';
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: #ffffff;
                z-index: 1;
                left: calc(50% - 25px);
                top: calc(50% - 5px);
            }

            .text-center {
                .album-list-name {
                    font-weight: bold;
                }
            }

            img {
                margin-top: 20px;
            }

            .play-icon {
                position: absolute;
                top: 145px;
                opacity: 0;
                font-size: 30px;
                transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -webkit-transition: all 0.3s ease-in-out;
                color: #000000;
                text-align: center;
                width: 100%;
                z-index: 5;
                left: 2px;
                cursor: default;

                .fa-play {
                    cursor: pointer;
                }
            }

            .remove-icon {
                position: absolute;
                border-radius: 50%;
                padding: 0 5px;
                top: 55px;
                opacity: 0;
                background: #dadada;
                font-size: 15px;
                -moz-transition: all 0.3s ease-in-out;
                -webkit-transition: all 0.3s ease-in-out;
                left: 115px;
                color: #000000;
                cursor: pointer;
            }

            .edit-icon {
                position: absolute;
                border-radius: 50%;
                padding: 0 5px;
                top: 55px;
                opacity: 0;
                background: #dadada;
                font-size: 15px;
                -moz-transition: all 0.3s ease-in-out;
                -webkit-transition: all 0.3s ease-in-out;
                left: 145px;
                color: #000000;
                cursor: pointer;
            }
        }
        .record:hover .play-icon,
        .record:hover .remove-icon,
        .record:hover .edit-icon {
            opacity: 1;
            transition: opacity .5s;
        }
    }
}

/* The Modal (background) */
.modal {
    //display: none; /* Hidden by default */
    //position: fixed; /* Stay in place */
    //z-index: 1; /* Sit on top */
    //left: 0;
    //top: 0;
    //width: 100%; /* Full width */
    //height: 100%; /* Full height */
    //overflow: auto; /* Enable scroll if needed */
    //background-color: rgb(0,0,0); /* Fallback color */
    //background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    /*display: none; */
    /* position: fixed; */
    /* z-index: 1; */
    /* left: 0; */
    /* top: 0; */
    width: 100%;
    height: 100%;
    /* overflow: auto; */
    /* background-color: black; */
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 10px;
    border: none;
    border-radius: 0;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modal-header {
    padding: 0;
    margin: 0;
    /* color: black; */
    border-bottom: none;
}

.modal-body {
    padding: 10px;

    h4 {
        font-weight: bold;
        line-height: normal;
    }
}

.modal-footer {
    border-top: none;
    padding: 10px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#cancel-button {
    background-color: black;
    display: block;
    cursor: pointer;
    color: white;
    font-size: 20px;
    padding: 8px 16px;
    text-decoration: none;
    border: none;
    width: 200px;
    box-sizing: border-box;
    //margin-bottom: 10px;
    //margin-right: 10px;

    &:hover {
        background-color: #0F70A1;
        color: white;
    }
}

#approve-delete, #close-button {
    background-color: black;
    display: block;
    cursor: pointer;
    color: white;
    font-size: 20px;
    padding: 8px 16px;
    text-decoration: none;
    border: none;
    width: 200px;
    box-sizing: border-box;

    &:hover {
        background-color: #0F70A1;
        color: white;
    }
}