body {
    color: #000000;
    font-family: 'Heebo', sans-serif;
    overflow-x: hidden;
}

/* hebrew */
@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    src: local('Heebo'), local('Heebo-Regular'), url(https://fonts.gstatic.com/s/heebo/v3/q17xXvwvpCd8fBgEBABP9w.woff2) format('woff2');
    unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}

/* latin */
@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    src: local('Heebo'), local('Heebo-Regular'), url(https://fonts.gstatic.com/s/heebo/v3/Q66imbW5v9YuQMRLd0RXOA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

* {
    box-sizing: border-box;
}

/* Header */
header {
    background: #0f70a1;
    height: 80px;
    position: relative;

    #header-controls {
        float: left;

        a {
            color: #ffffff;
            text-decoration: none;
            font-size: 20px;

            .fa-plus-circle {
                margin: 30px 5px 0 20px;
            }
        }
    }

    /* Search window */
    #search-area {
        float: right;

        #search-term {
            width: 200px;
            border: 3px double;
            border-radius: 5px;
            margin: 22px 10px 0 0;
            padding: 5px;
            font-size: 16px;
        }

        #search-button {
            background: transparent;
            border: none;
            margin-right: 20px;
            color: #ffffff;
            font-size: 20px;

            .fa-search {
                top: 30px;
                right: 20px;
                position: absolute;
            }
        }

        #results-list {
            background: #ffffff;
            width: 190px;
            margin-left: 5px;

            ul {
                padding: 0;

                li {
                    border-bottom: 2px solid #dadada;
                    padding: 0 5px;
                    text-align: justify;
                    line-height: 30px;
                    vertical-align: baseline;
                    font-weight: bold;
                    list-style-type: none;

                    a {
                        color: #000000;
                        text-decoration: none;
                    }

                    &:nth-of-type(1):not(last-of-type) {
                        border-bottom: 2px solid #dadada;
                    }
                }
            }
        }
    }
}

#main-container {
    min-height: 400px;
    padding: 35px 0;
}

img, iframe {
    height: 250px;
    width: 250px;
}

img {
    border-radius: 50%;
}

.play-icon {
    width: 100%;
    color: #000000;
    text-align: center;
    font-size: 30px;
    position: absolute;
    opacity: 0;
    cursor: default;

    .fa-play {
        cursor: pointer;
    }

    &:hover {
        color: #000000;
    }
}

.remove-icon, .edit-icon {
    background: #dadada;
    border-radius: 50%;
    color: #000000;
    position: absolute;
    cursor: pointer;

    &:hover {
        color: #000000;
    }
}

h1 {
    margin: 0;
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
}