$mobile-small: 320px;
$mobile-medium: 375px;
$mobile-large: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptop-normal: 1280px;
$laptop-large: 1440px;
$desktop: 2560px;

/* Album list (display of disks) */
#album-list {
    @media screen and ( min-width: $mobile-small ) {
        width: 250px;
        margin: 0 25px;
    }

    @media screen and ( min-width: $mobile-medium ) {
        width: 300px;
        margin: 0 30px;
    }

    @media screen and ( min-width: $mobile-large ) {
        width: 330px;
        margin: 0 40px;
    }

    @media screen and ( min-width: $tablet ) {
        width: auto;
        margin: 0 50px;
        display: flex;
        flex-wrap: wrap;
    }

    h2 {
        @media screen and ( min-width: $tablet ) {
            left: 100px;
        }

        @media screen and ( min-width: $laptop ) {
            left: 0;
        }
    }

    .col-md-3 {
        @media screen and ( min-width: $mobile-large ) {
            max-width: 330px;
        }

        @media screen and ( min-width: $tablet ) {
            width: 250px;
            margin: 10px 10px 50px 10px;
            flex: 1 1 0;
        }

        @media screen and ( min-width: $laptop ) {
            max-width: 280px;
        }

        @media screen and ( min-width: $laptop-normal ) {
            max-width: 270px;
        }

        @media screen and ( min-width: $laptop-large ) {
            margin: 10px 30px 50px 30px;
        }

        @media screen and ( min-width: $desktop ) {
            margin: 10px 40px 50px 40px;
        }

        .record {
            @media screen and ( min-width: $mobile-small ) {
                width: 250px;
            }

            @media screen and ( min-width: $mobile-medium ) {
                margin: 0 25px;
            }

            @media screen and ( min-width: $mobile-large ) {
                margin: 0 40px;
            }

            @media screen and ( min-width: $tablet ) {
                margin: 0 30px;
            }

            @media screen and ( min-width: $laptop ) {
                width: 280px;
                max-width: 280px;
                margin: 0;
            }

            @media screen and ( min-width: $laptop-normal ) {
                width: 270px;
                max-width: 270px;
            }

            .remove-icon {
                @media screen and ( min-width: $mobile-small ) {
                    left: 100px;
                }

                @media screen and ( min-width: $laptop ) {
                    left: 115px;
                }

                @media screen and ( min-width: $laptop-normal ) {
                    left: 110px;
                }
            }

            .edit-icon {
                @media screen and ( min-width: $mobile-small ) {
                    left: 130px;
                }

                @media screen and ( min-width: $laptop ) {
                    left: 145px;
                }

                @media screen and ( min-width: $laptop-normal ) {
                    left: 140px;
                }
            }
        }
    }
}

/* Modal Content/Box */
.modal-content {
    @media screen and ( min-width: $mobile-small ) {
        width: 80%;
    }

    @media screen and ( min-width: $tablet ) {
        width: 75%;
    }
}

.modal-footer {
    @media screen and ( min-width: $mobile-small ) {
        padding: 4px;
    }

    @media screen and ( min-width: $tablet ) {
        padding: 10px;
    }
}

#approve-delete, #close-button, #edit-album-approve-delete, #edit-album-close-button {
    @media screen and ( min-width: $mobile-medium ) {
        margin: 0 20px;
        float: left;
    }

    @media screen and ( min-width: $mobile-large ) {
        margin: 0 40px;
    }

    @media screen and ( min-width: $tablet ) {
        margin: 0;
        float: right;
    }
}

#cancel-button, #edit-album-cancel-button {
    @media screen and ( min-width: $mobile-small ) {
        margin-bottom: 10px;
        float: right;
    }

    @media screen and ( min-width: $mobile-medium ) {
        margin: 0 20px 10px;
        float: left;
    }

    @media screen and ( min-width: $mobile-large ) {
        margin: 0 40px 10px;
    }

    @media screen and ( min-width: $tablet ) {
        margin: 0;
    }
}