.container {
    margin-top: 20px;

    /*Search results - header*/
    .search-results-title {
        border-bottom: 1px solid #dadada;

        .search-results-view {
            margin-right: 0;
            cursor: pointer;
            display: grid;
        }

        h1 {
            margin: 0;
            text-align: center;
            padding-bottom: 15px;
        }
    }

    /*Search results - list*/
    .search-result {
        border-bottom: 3px double #dadada;
        padding-top: 15px;

        .search-results-record {
            border-right: 1px dotted #dadada;

            img {
                width: 250px;
                height: 250px;
            }

            .remove-icon {
                position: absolute;
                padding: 0 5px;
                top: 15px;
                opacity: 0;
                background: #dadada;
                font-size: 15px;
                -moz-transition: all 0.3s ease-in-out;
                -webkit-transition: all 0.3s ease-in-out;
                left: 120px;
                color: #000000;
            }

            .edit-icon {
                position: absolute;
                padding: 0 5px;
                top: 15px;
                opacity: 0;
                background: #dadada;
                font-size: 15px;
                -moz-transition: all 0.3s ease-in-out;
                -webkit-transition: all 0.3s ease-in-out;
                left: 150px;
                color: #000000;
            }

            .play-icon {
                position: absolute;
                top: 110px;
                opacity: 0;
                font-size: 30px;
                transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -webkit-transition: all 0.3s ease-in-out;
                color: #000000;
                text-align: center;
                width: 0;
                z-index: 5;
                left: 137px;
            }

            position: relative;
            display: block;
            /*margin: 0 25px;*/
            opacity: 0.75;

            &:hover {
                opacity: 1;
            }

            &:before {
                position: absolute;
                content: ' ';
                width: 50px;
                height: 50px;
                background: #ffffff;
                z-index: 1;
                left: calc(50% - 25px);
                top: calc(50% - 25px);
                border-radius: 50%;
            }
        }

        .search-results-record:hover .remove-icon,
        .search-results-record:hover .edit-icon,
        .search-results-record:hover .play-icon {
            opacity: 1;
        }

        .search-results-album {
            position: relative;
            height: 250px;

            button, button:hover {
                background: black;
                color: white;
                margin: -10px 0;
                width: 132px;
                box-sizing: border-box;
            }
        }

        .search-results-album-name {
            margin-top: 0 !important;
            margin-bottom: 10px !important;
            font-weight: bold;
        }

        .search-results-album-description {
            text-align: justify;
            margin-top: 10px;
            letter-spacing: 0.5px;
        }

        .search-results-playlist {
            border-left: 1px dotted #dadada;
            height: 250px;
            width: 195px;
            margin-bottom: 10px;

            .search-results-playlist-title {
                margin-top: 0 !important;
                margin-bottom: 10px !important;
                font-weight: bold;
            }

            .search-results-playlist-songs {
                margin-top: 10px;
                padding: 0;
                margin-left: 15px;
                letter-spacing: 0.5px;
                text-align: justify;
                width: 180px;
            }

            button, button:hover {
                background: black;
                color: white;
                margin: 10px 20px;
                width: 132px;
            }
        }
    }

    /*Search results - table*/
    .services-panel {

        .panel {
            width: 270px;
            height: 410px;
            border: 3px double;
            margin-top: 25px;

            img {
                width: 250px;
                height: 250px;
            }

            button {
                width: 120px;
                margin-top: 25px;
                background: black;
                color: white;
                display: inline;
                font-size: 18px;
            }

            .search-results-album-name {
                font-weight: bold;
                margin: 30px 0 30px;
                color: #000000;
                font-size: 20px;
            }

            .search-results-record {
                position: relative;
                display: block;
                /*margin: 0 25px;*/
                opacity: 0.75;

                &:hover {
                    opacity: 1;
                }

                &:before {
                    position: absolute;
                    content: ' ';
                    width: 50px;
                    height: 50px;
                    background: #ffffff;
                    z-index: 1;
                    left: calc(50% - 25px);
                    top: calc(50% - 25px);
                    border-radius: 50%;
                }

                .remove-icon {
                    position: absolute;
                    padding: 0 5px;
                    top: 15px;
                    opacity: 0;
                    background: #dadada;
                    font-size: 15px;
                    -moz-transition: all 0.3s ease-in-out;
                    -webkit-transition: all 0.3s ease-in-out;
                    left: 105px;
                    color: #000000;
                }

                .edit-icon {
                    position: absolute;
                    padding: 0 5px;
                    top: 15px;
                    opacity: 0;
                    background: #dadada;
                    font-size: 15px;
                    -moz-transition: all 0.3s ease-in-out;
                    -webkit-transition: all 0.3s ease-in-out;
                    left: 135px;
                    color: #000000;
                }

                .play-icon {
                    position: absolute;
                    top: 109px;
                    opacity: 0;
                    font-size: 30px;
                    transition: all 0.3s ease-in-out;
                    -moz-transition: all 0.3s ease-in-out;
                    -webkit-transition: all 0.3s ease-in-out;
                    color: #000000;
                    text-align: center;
                    width: 0;
                    z-index: 5;
                    left: 122px;
                }

            }
            .search-results-record:hover .remove-icon,
            .search-results-record:hover .edit-icon,
            .search-results-record:hover .play-icon {
                opacity: 1;
            }
        }
    }
}