#search-results {
    margin: 0 50px;

    /* Search results - header */
    #search-results-title {
        border-bottom: 4px double #dadada;
    }

    /* Search results - Body */
    .col-md-12 {
        padding-top: 10px;

        .row {
            border-bottom: 4px double #dadada;
            padding: 10px 0;

            .col-md-3 {
                padding: 0;

                .search-results-record {
                    opacity: 0.75;
                    transition: opacity .5s;

                    &:hover {
                        opacity: 1;
                        transition: opacity .5s;
                    }

                    &::before {
                        background: #ffffff;
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                        top: calc(50% - 25px);
                        left: calc(50% - 25px);
                        position: absolute;
                        content: ' ';
                    }

                    img {
                        margin: 0 auto;
                        display: block;
                    }

                    .play-icon {
                        top: 105px;
                        left: 3px;
                    }

                    .remove-icon, .edit-icon {
                        padding: 0 5px;
                        top: 15px;
                        font-size: 15px;
                        opacity: 0;
                    }

                    .remove-icon {
                        left: 115px;
                    }

                    .edit-icon {
                        left: 145px;
                    }
                }

                .search-results-record:hover .remove-icon,
                .search-results-record:hover .edit-icon,
                .search-results-record:hover .play-icon {
                    opacity: 1;
                    transition: opacity .5s;
                }
            }

            .col-md-9 {
                border-left: 1px dotted #dadada;

                .search-results-album-name {
                    margin: 0 0 10px;
                    font-weight: bold;
                }

                .search-results-album-description {
                    text-align: justify;
                    letter-spacing: 0.5px;
                    line-height: 22px;
                }

                .search-results-full-album-button {
                    background: #000000;
                    width: 250px;
                    padding: 10px;
                    color: #ffffff;
                    text-align: center;
                    text-decoration: none;
                    font-size: 20px;
                    float: right;

                    &:hover {
                        background: #0f70a1;
                    }
                }
            }
        }
    }
}