/*Album information & player*/
#album {
    button[disabled] {
        opacity: .5;
    }

    #aside-left {
        width: 250px;
        height: 400px;
        float: left;
        margin-left: 100px;
        position: relative;
        display: block;
        margin-bottom: 75px;
        top: 50px;
        background: -webkit-linear-gradient(left top, #000000, #282828, #ffffff);/* Webkit (Chrome 11+) */
        background: -moz-linear-gradient(left top, #000000, #282828, #ffffff); /* Firefox */

        #album-info-controls {
            padding: 0;
            margin: 10px;
            width: 35px;

            .remove-icon {
                position: absolute;
                border-radius: 50%;
                padding: 0 7px;
                top: 0;
                background: #dadada;
                font-size: 24px;
                -moz-transition: all 0.3s ease-in-out;
                -webkit-transition: all 0.3s ease-in-out;
                color: #000000;
            }

            .edit-icon {
                position: absolute;
                border-radius: 50%;
                padding: 0 7px;
                top: 40px;
                background: #dadada;
                font-size: 24px;
                -moz-transition: all 0.3s ease-in-out;
                -webkit-transition: all 0.3s ease-in-out;
                color: #000000;
            }
        }

        #album-info-image {
            height: 250px;
            width: 250px;
            position: absolute;
            left: 125px;
            top: 70px;

            img {
                display: none;
            }
        }

        #album-info-menu {
            margin-top: 175px;
            font-size: 20px;

            .album-info-links a {
                color: #ffffff;
                text-decoration: none;
                margin-left: 10px;
            }

            .active {
                font-weight: bold;
            }
        }
    }

    #album-info-player {
        width: 850px;
        float: left;
        margin-top: 50px;

        #player-wrapper {
            position: absolute;
            left: 100px;
            top: 165px;

            iframe {
                height: 250px;
                width: 250px;
                position: absolute;
                left: 125px;
                top: 70px;
            }
        }

        #album-info-text {
            height: 400px;
            margin-left: 125px;

            #album-info-name {
                font-weight: bold;
                margin: 0 20px 10px;
            }

            #album-info-year {
                margin: 10px 20px;
                display: inline-block;
            }

            ul#album-info-genres {
                margin-bottom: 0;
                padding-left: 25px;
                display: inline-block;

                li {
                    margin-right: 25px;
                    display: inline-block;
                }

                li:last-child {
                    margin-right: 0;
                }
            }

            #album-info-description {
                letter-spacing: 0.5px;
                text-align: justify;
                margin: 10px 20px 20px;
                display: none;
            }

            #player-controls {
                #now-playing-song {
                    display: block;
                    font-size: 20px;
                    margin-top: 5px;
                    margin-left: 20px;
                }

                #controls {
                    margin-top: 5px;
                    margin-left: 20px;
                }

                #player-playlist {
                    margin-top: 10px;
                    padding: 0;
                    margin-left: 40px;
                    font-size: 18px;

                    li {
                        cursor: pointer;
                        padding-left: 5px;

                        &.playing {
                            font-weight: bold;
                        }
                    }
                }
            }
        }

    }
}