/* Album information & player */
#aside-menu {
    background: -webkit-linear-gradient(left top, #000000, #282828, #ffffff);
    height: 400px;
    width: 250px;
    margin: 0 0 75px 100px;
    top: 50px;
    position: relative;
    float: left;

    #album-info-menu {
        margin-top: 175px;
        padding: 0;
        font-size: 20px;

        .album-info-links {
            margin-left: 10px;
            color: #ffffff;
            cursor: pointer;
        }

        .active {
            font-weight: bold;
        }
    }

    #album-info-controls {
        height: 75px;
        width: 35px;
        margin: 10px;
        position: absolute;

        .remove-icon, .edit-icon {
            width: inherit;
            padding: 0 7px;
            font-size: 24px;
        }

        .fa-remove {
            margin: 1px;
        }

        .edit-icon {
            top: 40px;
        }
    }

    #album-info-image {
        left: 125px;
        top: 70px;
        position: absolute;

        img, span {
            display: none;
        }

        #album-info-image-circle {
            background: #ffffff;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            top: 100px;
            left: 100px;
            position: absolute;
            content: ' ';
        }
    }
}

#album-info-player {
    width: 850px;
    margin-top: 50px;
    float: left;

    #player-wrapper {
        top: 165px;
        left: 100px;
        position: absolute;

        iframe {
            top: 70px;
            left: 125px;
            position: absolute;
        }
    }

    #album-info-text {
        margin-left: 125px;

        #album-info-name {
            margin: 0 20px 10px;
            padding: 0;
            text-align: justify;
            font-weight: bold;
        }

        #album-info-year {
            margin: 0 20px 20px;
            line-height: 2;
        }

        #album-info-genres {
            margin: -56px 0 0 86px;
            padding: 0;
            line-height: 2;
            font-size: 18px;
            display: flex;

            li {
                margin-right: 25px;
            }

            li:last-child {
                margin-right: 0;
            }
        }

        #album-info-description {
            margin: 10px 20px 20px;
            text-align: justify;
            letter-spacing: 0.5px;
            line-height: 22px;
            display: none;
        }

        #now-playing-song {
            margin: 5px 0 0 20px;
            font-size: 20px;
        }

        #controls {
            background: #dadada;
            width: 325px;
            height: 35px;
            margin: 10px 0 0 20px;
            transition: width 0.50s;

            &.volume-width {
                width: 430px;
            }

            #step-backward, #play, #stop, #step-forward, #volume-up {
                color: #000000;
                font-size: 25px;
                position: absolute;
                cursor: pointer;
            }

            #step-backward {
                margin-left: 5px;
            }

            #play {
                margin-left: 30px;
            }

            #stop {
                margin-left: 60px;
            }

            #step-forward {
                margin-left: 90px;
            }

            #song-duration {
                width: 130px;
                margin: 14px 0 0 115px;
                position: absolute;
            }

            #timer {
                margin: 6px 0 0 250px;
                font-size: 16px;
                position: absolute;
            }

            #volume-up {
                margin-left: 295px;
            }

            #volume {
                width: 100px;
                margin: 14px 0 0 325px;
                display: none;
            }

            #song-duration, #volume {
                -webkit-appearance: none;
                outline: none;

                &::-webkit-slider-runnable-track {
                    background: #000000;
                    height: 5px;
                    border-radius: 2px;
                    cursor: pointer;
                    transition: opacity 0.2s;
                    -webkit-transition: .2s;
                }

                &::-webkit-slider-thumb {
                    background: #ffffff;
                    height: 16px;
                    width: 16px;
                    border: 1px solid #000000;
                    border-radius: 50%;
                    margin-top: -6px;
                    -webkit-appearance: none;
                }

                &:focus::-webkit-slider-runnable-track {
                    background: #000000;
                }
            }
        }

        #player-playlist {
            margin: 15px 0 0 40px;
            padding: 0;
            font-size: 18px;

            li {
                padding-left: 5px;
                cursor: pointer;

                &.playing, &.pause {
                    font-weight: bold;
                    list-style: none;
                    position: relative;

                    &::before {
                        left: -18px;
                        font-family: FontAwesome;
                        position: absolute;
                    }
                }

                &.playing {
                    &::before {
                        content: "\f04c";
                    }
                }

                &.pause {
                    &::before {
                        content: "\f04b";
                    }
                }
            }
        }
    }
}