html, body {
  font-family: 'Heebo', sans-serif;
  color: black; }

/* hebrew */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  src: local("Heebo"), local("Heebo-Regular"), url(https://fonts.gstatic.com/s/heebo/v3/q17xXvwvpCd8fBgEBABP9w.woff2) format("woff2");
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F; }

/* latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  src: local("Heebo"), local("Heebo-Regular"), url(https://fonts.gstatic.com/s/heebo/v3/Q66imbW5v9YuQMRLd0RXOA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

img {
  height: 250px;
  width: 250px;
  box-sizing: border-box; }

#container-full .row .col-md-12 {
  /*Header*/ }
  #container-full .row .col-md-12 header {
    position: relative;
    display: block;
    background: #0F70A1;
    height: 80px;
    box-sizing: border-box; }
    #container-full .row .col-md-12 header .pull-left a {
      color: #ffffff;
      text-decoration: none;
      cursor: pointer;
      font-size: 20px; }
      #container-full .row .col-md-12 header .pull-left a .fa-plus-circle {
        color: #ffffff;
        font-size: 20px;
        cursor: pointer;
        margin-top: 30px;
        margin-left: 20px; }
    #container-full .row .col-md-12 header .pull-right {
      /*Search window*/ }
      #container-full .row .col-md-12 header .pull-right #search-area input[type=search] {
        width: 200px;
        padding: 5px;
        font-size: 16px;
        border-radius: 5px;
        border: 3px double;
        background-color: #ffffff;
        margin-top: 22px;
        resize: none;
        box-sizing: border-box;
        margin-right: 10px; }
      #container-full .row .col-md-12 header .pull-right #search-area #search {
        color: #ffffff;
        font-size: 20px;
        cursor: pointer;
        margin-right: 20px;
        background: transparent;
        border: none; }
        #container-full .row .col-md-12 header .pull-right #search-area #search .fa-search {
          right: 20px;
          top: 30px;
          position: absolute; }
      #container-full .row .col-md-12 header .pull-right #results-list {
        background: white;
        width: 190px;
        margin-left: 5px; }
        #container-full .row .col-md-12 header .pull-right #results-list ul {
          padding: 0; }
          #container-full .row .col-md-12 header .pull-right #results-list ul li {
            padding: 0 5px;
            line-height: 30px;
            text-align: justify;
            border-bottom: 4px double #dadada;
            list-style-type: none;
            font-weight: bold;
            width: 190px; }
            #container-full .row .col-md-12 header .pull-right #results-list ul li a {
              text-decoration: none;
              color: black; }

#container-full #main-container {
  padding: 35px 0;
  box-sizing: border-box;
  min-height: 400px; }

/*Album information & player*/
#album button[disabled] {
  opacity: .5; }

#album #aside-left {
  width: 250px;
  height: 400px;
  float: left;
  margin-left: 100px;
  position: relative;
  display: block;
  margin-bottom: 75px;
  top: 50px;
  background: -webkit-linear-gradient(left top, #000000, #282828, #ffffff);
  /* Webkit (Chrome 11+) */
  background: -moz-linear-gradient(left top, #000000, #282828, #ffffff);
  /* Firefox */ }
  #album #aside-left #album-info-controls {
    padding: 0;
    margin: 10px;
    width: 35px; }
    #album #aside-left #album-info-controls .remove-icon {
      position: absolute;
      border-radius: 50%;
      padding: 0 7px;
      top: 0;
      background: #dadada;
      font-size: 24px;
      -moz-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      color: #000000; }
    #album #aside-left #album-info-controls .edit-icon {
      position: absolute;
      border-radius: 50%;
      padding: 0 7px;
      top: 40px;
      background: #dadada;
      font-size: 24px;
      -moz-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      color: #000000; }
  #album #aside-left #album-info-image {
    height: 250px;
    width: 250px;
    position: absolute;
    left: 125px;
    top: 70px; }
    #album #aside-left #album-info-image img {
      display: none; }
    #album #aside-left #album-info-image:before {
      position: absolute;
      content: ' ';
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #ffffff;
      right: calc(50% - 25px);
      top: calc(50% - 25px); }
  #album #aside-left #album-info-menu {
    margin-top: 175px;
    font-size: 20px; }
    #album #aside-left #album-info-menu .album-info-links {
      color: #ffffff;
      margin-left: 10px;
      cursor: pointer; }
    #album #aside-left #album-info-menu .active {
      font-weight: bold; }

#album #album-info-player {
  width: 850px;
  float: left;
  margin-top: 50px; }
  #album #album-info-player #player-wrapper {
    position: absolute;
    left: 100px;
    top: 165px; }
    #album #album-info-player #player-wrapper iframe {
      height: 250px;
      width: 250px;
      position: absolute;
      left: 125px;
      top: 70px; }
  #album #album-info-player #album-info-text {
    height: 400px;
    margin-left: 125px; }
    #album #album-info-player #album-info-text #album-info-name {
      font-weight: bold;
      margin: 0 20px 10px; }
    #album #album-info-player #album-info-text #album-info-year {
      display: inline-block;
      /* background: red; */
      line-height: 2;
      margin: 0 20px 20px; }
    #album #album-info-player #album-info-text #album-info-genres {
      /*margin-bottom: 0;
                padding-left: 25px;
                /*display: inline-block;*/
      font-size: 18px;
      /* position: absolute; */
      /* top: -66px; */
      /*background: blue;*/
      /* margin: 10px 20px; */
      /* padding: 20px; */
      margin-left: 86px;
      margin-top: -56px;
      /* margin-left: 85px; */
      display: flex;
      /* top: 180px; */
      /* left: 278px; */
      padding: 0;
      /* margin: 20px; */
      /* margin-left: 40px; */
      line-height: 2; }
      #album #album-info-player #album-info-text #album-info-genres li {
        margin-right: 25px;
        /*display: inline-block;*/ }
      #album #album-info-player #album-info-text #album-info-genres li:last-child {
        margin-right: 0; }
    #album #album-info-player #album-info-text #album-info-description {
      letter-spacing: 0.5px;
      text-align: justify;
      margin: 10px 20px 20px;
      display: none; }
    #album #album-info-player #album-info-text #player-controls #now-playing-song {
      display: block;
      font-size: 20px;
      margin-top: 5px;
      margin-left: 20px; }
    #album #album-info-player #album-info-text #player-controls #controls {
      margin-top: 10px;
      margin-left: 20px;
      background: #dadada;
      width: 300px;
      height: 35px; }
      #album #album-info-player #album-info-text #player-controls #controls .step-backward-icon {
        position: absolute;
        /* top: 295px; */
        /* opacity: 0; */
        font-size: 25px;
        /* transition: all 0.3s ease-in-out; */
        -moz-transition: all 0.3s ease-in-out;
        /* -webkit-transition: all 0.3s ease-in-out; */
        color: black;
        /* text-align: center; */
        /* width: 100%; */
        /* z-index: 5; */
        /* left: 5px; */
        /* cursor: default; */
        margin-left: 5px;
        /* margin-top: 4px; */
        cursor: pointer; }
      #album #album-info-player #album-info-text #player-controls #controls .play-icon {
        position: absolute;
        /* top: 295px; */
        /* opacity: 0; */
        font-size: 25px;
        /* transition: all 0.3s ease-in-out; */
        -moz-transition: all 0.3s ease-in-out;
        /* -webkit-transition: all 0.3s ease-in-out; */
        color: black;
        /* text-align: center; */
        /* width: 100%; */
        /* z-index: 5; */
        /* left: 5px; */
        /* cursor: default; */
        margin-left: 30px;
        /* margin-top: 4px; */
        cursor: pointer; }
      #album #album-info-player #album-info-text #player-controls #controls .pause-icon {
        position: absolute;
        /* top: 295px; */
        /* opacity: 0; */
        font-size: 25px;
        /* transition: all 0.3s ease-in-out; */
        -moz-transition: all 0.3s ease-in-out;
        /* -webkit-transition: all 0.3s ease-in-out; */
        color: black;
        /* text-align: center; */
        /* width: 100%; */
        /* z-index: 5; */
        /* left: 5px; */
        /* cursor: default; */
        margin-left: 60px;
        /* margin-top: 4px; */
        cursor: pointer; }
      #album #album-info-player #album-info-text #player-controls #controls .stop-icon {
        position: absolute;
        /* top: 295px; */
        /* opacity: 0; */
        font-size: 25px;
        /* transition: all 0.3s ease-in-out; */
        -moz-transition: all 0.3s ease-in-out;
        /* -webkit-transition: all 0.3s ease-in-out; */
        color: black;
        /* text-align: center; */
        /* width: 100%; */
        /* z-index: 5; */
        /* left: 5px; */
        /* cursor: default; */
        margin-left: 90px;
        /* margin-top: 4px; */
        cursor: pointer; }
      #album #album-info-player #album-info-text #player-controls #controls .step-forward-icon {
        position: absolute;
        /* top: 295px; */
        /* opacity: 0; */
        font-size: 25px;
        /* transition: all 0.3s ease-in-out; */
        -moz-transition: all 0.3s ease-in-out;
        /* -webkit-transition: all 0.3s ease-in-out; */
        color: black;
        /* text-align: center; */
        /* width: 100%; */
        /* z-index: 5; */
        /* left: 5px; */
        /* cursor: default; */
        margin-left: 120px;
        /* margin-top: 4px; */
        cursor: pointer; }
      #album #album-info-player #album-info-text #player-controls #controls .volume-off-icon {
        position: absolute;
        /* top: 295px; */
        /* opacity: 0; */
        font-size: 25px;
        /* transition: all 0.3s ease-in-out; */
        -moz-transition: all 0.3s ease-in-out;
        /* -webkit-transition: all 0.3s ease-in-out; */
        color: black;
        /* text-align: center; */
        /* width: 100%; */
        /* z-index: 5; */
        /* left: 5px; */
        /* cursor: default; */
        margin-left: 210px;
        /* margin-top: 4px; */
        cursor: pointer; }
      #album #album-info-player #album-info-text #player-controls #controls .volume-down-icon {
        position: absolute;
        /* top: 295px; */
        /* opacity: 0; */
        font-size: 25px;
        /* transition: all 0.3s ease-in-out; */
        -moz-transition: all 0.3s ease-in-out;
        /* -webkit-transition: all 0.3s ease-in-out; */
        color: black;
        /* text-align: center; */
        /* width: 100%; */
        /* z-index: 5; */
        /* left: 5px; */
        /* cursor: default; */
        margin-left: 240px;
        /* margin-top: 4px; */
        cursor: pointer; }
      #album #album-info-player #album-info-text #player-controls #controls .volume-up-icon {
        position: absolute;
        /* top: 295px; */
        /* opacity: 0; */
        font-size: 25px;
        /* transition: all 0.3s ease-in-out; */
        -moz-transition: all 0.3s ease-in-out;
        /* -webkit-transition: all 0.3s ease-in-out; */
        color: black;
        /* text-align: center; */
        /* width: 100%; */
        /* z-index: 5; */
        /* left: 5px; */
        /* cursor: default; */
        margin-left: 270px;
        /* margin-top: 4px; */
        cursor: pointer; }
    #album #album-info-player #album-info-text #player-controls #player-playlist {
      margin-top: 15px;
      padding: 0;
      margin-left: 40px;
      font-size: 18px; }
      #album #album-info-player #album-info-text #player-controls #player-playlist li {
        cursor: pointer;
        padding-left: 5px; }
        #album #album-info-player #album-info-text #player-controls #player-playlist li.playing {
          font-weight: bold; }

/*Album list (display of disks)*/
#album-list {
  min-height: 400px;
  top: 40px;
  margin-left: 50px;
  margin-right: 50px; }
  #album-list .loading {
    background: url(../images/loader.gif) no-repeat center center; }
  #album-list .row {
    margin: 10px; }
    #album-list .row .col-md-3 {
      padding-right: 0;
      padding-left: 0;
      margin-bottom: 50px; }
      #album-list .row .col-md-3 .record {
        position: relative;
        display: block;
        opacity: 0.75; }
        #album-list .row .col-md-3 .record:hover {
          opacity: 1; }
        #album-list .row .col-md-3 .record:before {
          position: absolute;
          content: ' ';
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: #ffffff;
          z-index: 1;
          left: calc(50% - 25px);
          top: calc(50% - 5px); }
        #album-list .row .col-md-3 .record .text-center .album-list-name {
          font-weight: bold; }
        #album-list .row .col-md-3 .record img {
          margin-top: 20px; }
        #album-list .row .col-md-3 .record .play-icon {
          position: absolute;
          top: 145px;
          opacity: 0;
          font-size: 30px;
          transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          color: #000000;
          text-align: center;
          width: 100%;
          z-index: 5;
          left: 2px;
          cursor: default; }
          #album-list .row .col-md-3 .record .play-icon .fa-play {
            cursor: pointer; }
        #album-list .row .col-md-3 .record .remove-icon {
          position: absolute;
          border-radius: 50%;
          padding: 0 5px;
          top: 55px;
          opacity: 0;
          background: #dadada;
          font-size: 15px;
          -moz-transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          left: 115px;
          color: #000000; }
        #album-list .row .col-md-3 .record .edit-icon {
          position: absolute;
          border-radius: 50%;
          padding: 0 5px;
          top: 55px;
          opacity: 0;
          background: #dadada;
          font-size: 15px;
          -moz-transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          left: 145px;
          color: #000000; }
      #album-list .row .col-md-3 .record:hover .play-icon,
      #album-list .row .col-md-3 .record:hover .remove-icon,
      #album-list .row .col-md-3 .record:hover .edit-icon {
        opacity: 1; }

#add-new-album #add-new-album-details {
  margin-left: 100px;
  margin-right: 100px;
  /*Add New Album*/
  /*Add Album Playlist*/ }
  #add-new-album #add-new-album-details #add-new-album-title {
    border-bottom: 4px double #dadada; }
    #add-new-album #add-new-album-details #add-new-album-title h1 {
      margin: 0;
      text-align: center;
      padding-bottom: 15px;
      font-weight: bold; }
  #add-new-album #add-new-album-details #add-new-album-form #image-cover-preview img {
    margin: 20px; }
  #add-new-album #add-new-album-details #add-new-album-form #image-cover-preview:before {
    position: absolute;
    content: ' ';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ffffff;
    z-index: 1;
    right: calc(50% - 375px);
    top: calc(50% - 145px); }
  #add-new-album #add-new-album-details #add-new-album-form .col-md-8 {
    margin: 20px; }
    #add-new-album #add-new-album-details #add-new-album-form .col-md-8 .form-group .form-control {
      width: 85%;
      display: inline-block;
      margin-left: 6px;
      border: 3px double black; }
    #add-new-album #add-new-album-details #add-new-album-form .col-md-8 .form-group input.error {
      border-color: red; }
    #add-new-album #add-new-album-details #add-new-album-form .col-md-8 .form-group input[name="album-artist"] {
      margin-left: 53px; }
    #add-new-album #add-new-album-details #add-new-album-form .col-md-8 .form-group input[name="album-image"] {
      margin-left: 20px; }
    #add-new-album #add-new-album-details #add-new-album-form .col-md-8 .form-group input[name="album-year"] {
      margin-left: 59px; }
    #add-new-album #add-new-album-details #add-new-album-form .col-md-8 .form-group input[type="checkbox"] {
      margin-left: 3px; }
      #add-new-album #add-new-album-details #add-new-album-form .col-md-8 .form-group input[type="checkbox"]:first-of-type {
        margin-left: 45px; }
    #add-new-album #add-new-album-details #add-new-album-form .col-md-8 .form-group textarea[name="album-description"] {
      margin-left: 0;
      width: 85%;
      margin-top: 0;
      height: 250px;
      text-align: justify;
      resize: none;
      float: right; }
  #add-new-album #add-new-album-details #add-album-playlist-title {
    border-bottom: 4px double #dadada; }
    #add-new-album #add-new-album-details #add-album-playlist-title h1 {
      margin: 0;
      text-align: center;
      padding-bottom: 15px;
      font-weight: bold; }
  #add-new-album #add-new-album-details #add-album-playlist-form {
    margin: 20px; }
    #add-new-album #add-new-album-details #add-album-playlist-form .form-control {
      width: 85%;
      display: inline-block;
      margin-left: 6px;
      border: 3px double black; }
    #add-new-album #add-new-album-details #add-album-playlist-form input[name="song-name"] {
      width: 210px;
      margin-left: auto; }
    #add-new-album #add-new-album-details #add-album-playlist-form .youtube-url-label {
      position: absolute;
      top: 8px;
      left: 310px; }
    #add-new-album #add-new-album-details #add-album-playlist-form input[name="youtube-url"] {
      width: 355px;
      position: absolute;
      top: 0;
      left: 400px;
      margin-left: auto; }
    #add-new-album #add-new-album-details #add-album-playlist-form .song-time-label {
      position: absolute;
      top: 8px;
      left: 760px; }
    #add-new-album #add-new-album-details #add-album-playlist-form input[name="song-time"] {
      width: 73px;
      position: absolute;
      top: 0;
      left: 835px;
      margin-left: auto;
      text-align: center; }
    #add-new-album #add-new-album-details #add-album-playlist-form .remove-icon {
      position: absolute;
      border-radius: 50%;
      padding: 0 7px;
      top: 0;
      background: #dadada;
      font-size: 24px;
      -moz-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      left: 920px;
      color: #000000; }
    #add-new-album #add-new-album-details #add-album-playlist-form .row {
      margin: 10px; }
  #add-new-album #add-new-album-details #add-another-song {
    background-color: transparent;
    display: block;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    padding: 12px;
    margin-top: 20px;
    margin-bottom: 20px; }
  #add-new-album #add-new-album-details .pull-right {
    margin-top: 20px;
    margin-bottom: 20px; }
    #add-new-album #add-new-album-details .pull-right #reset-album {
      background-color: black;
      display: block;
      cursor: pointer;
      color: white;
      font-size: 20px;
      padding: 12px 24px;
      text-decoration: none;
      border: none;
      width: 250px;
      box-sizing: border-box;
      margin-right: 10px; }
      #add-new-album #add-new-album-details .pull-right #reset-album:hover {
        background-color: #0F70A1;
        color: white; }
    #add-new-album #add-new-album-details .pull-right #finish-and-save-button {
      background-color: black;
      display: block;
      cursor: pointer;
      color: white;
      font-size: 20px;
      padding: 12px 24px;
      text-decoration: none;
      border: none;
      width: 250px;
      box-sizing: border-box; }
      #add-new-album #add-new-album-details .pull-right #finish-and-save-button:hover {
        background-color: #0F70A1;
        color: white; }

code, pre {
  overflow: hidden; }

pre {
  background-color: #EEEEEE;
  padding: 1em; }

dt {
  font-weight: bold; }

dd {
  margin-bottom: 1em; }

.summary {
  color: #777777; }

.options {
  border-collapse: collapse;
  width: 100%; }

.options tr {
  vertical-align: top; }

.options td, .options th {
  padding: 4px 8px; }

.options th {
  background-color: #E2EDF4;
  font-weight: bold; }

.odd {
  background-color: #EFEFEF; }

.tagSelector input {
  border: none;
  border-radius: 0;
  width: auto;
  min-width: 50px;
  float: left;
  padding: 3px 0;
  white-space: nowrap;
  /* border: 0.5px solid; */
  /* background: black; */
  /* color: white; */
  height: 22px;
  /* margin-left: -66px; */
  /* border-radius: 3px; */ }

.tagSelector .tag {
  background: black;
  border-radius: 3px;
  /*-moz-border-radius: 3px;*/
  color: #FFF;
  float: left;
  height: 20px;
  padding: 0.1em 0.4em 1.5em;
  margin-right: 0.3em;
  margin-bottom: 0.3em;
  vertical-align: baseline;
  margin-top: auto; }

.tagSelector .tag a {
  color: #FFF;
  cursor: pointer; }

.tagSelector .tag a:hover {
  color: #0099CC;
  text-decoration: none; }

#album-genres {
  height: 0;
  margin-top: -15px; }
  #album-genres label.control-label {
    margin-top: 20px; }

#tags {
  width: 85%;
  height: 34px;
  margin-left: 95px;
  margin-bottom: 10px; }

input[type=text], .tagSelector {
  /*-moz-border-radius: 3px;*/
  border-radius: 3px;
  /* border: 3px double black; */
  /* border-top-color: #8496A4; */
  /* border-left-color: #8496A4; */
  /*-moz-box-shadow: inset 1px 1px 3px 0 #CDCDCD;*/
  /* -webkit-box-shadow: inset 1px 1px 3px 0 #CDCDCD; */
  /* box-shadow: inset 1px 1px 3px 0 #CDCDCD; */
  cursor: text;
  display: inline-block;
  overflow: hidden;
  padding: 3px 6px;
  vertical-align: baseline; }

input[type=password], .tagSelector {
  background-color: #FFF;
  /*-moz-border-radius: 3px;*/
  border-radius: 3px;
  border: 3px double black;
  /* border-top-color: #8496A4; */
  /* border-left-color: #8496A4; */
  /*-moz-box-shadow: inset 1px 1px 3px 0 #CDCDCD;*/
  /*-webkit-box-shadow: inset 1px 1px 3px 0 #CDCDCD;*/
  /* box-shadow: inset 1px 1px 3px 0 #CDCDCD; */
  cursor: text;
  display: inline-block;
  overflow: hidden;
  padding: 3px 6px;
  vertical-align: baseline; }

#search-results {
  margin-left: 50px;
  margin-right: 50px;
  /*Search results - header*/
  /*Search results - Body*/ }
  #search-results #search-results-title {
    border-bottom: 4px double #dadada; }
    #search-results #search-results-title h1 {
      margin: 0;
      text-align: center;
      padding-bottom: 15px;
      font-weight: bold; }
  #search-results .col-md-12 {
    padding-top: 10px; }
    #search-results .col-md-12 .row {
      border-bottom: 4px double #dadada;
      padding-top: 10px;
      padding-bottom: 10px; }
      #search-results .col-md-12 .row .col-md-3 {
        padding-left: 0;
        padding-right: 0; }
        #search-results .col-md-12 .row .col-md-3 .search-results-record {
          position: relative;
          display: block;
          opacity: 0.75; }
          #search-results .col-md-12 .row .col-md-3 .search-results-record:hover {
            opacity: 1; }
          #search-results .col-md-12 .row .col-md-3 .search-results-record:before {
            position: absolute;
            content: ' ';
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #ffffff;
            z-index: 1;
            left: calc(50% - 25px);
            top: calc(50% - 25px); }
          #search-results .col-md-12 .row .col-md-3 .search-results-record .play-icon {
            position: absolute;
            top: 105px;
            opacity: 0;
            font-size: 30px;
            transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            color: #000000;
            text-align: center;
            width: 100%;
            z-index: 5;
            left: 3px;
            cursor: default; }
            #search-results .col-md-12 .row .col-md-3 .search-results-record .play-icon .fa-play {
              cursor: pointer; }
          #search-results .col-md-12 .row .col-md-3 .search-results-record .remove-icon {
            position: absolute;
            border-radius: 50%;
            padding: 0 5px;
            top: 15px;
            opacity: 0;
            background: #dadada;
            font-size: 15px;
            -moz-transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            left: 115px;
            color: #000000; }
          #search-results .col-md-12 .row .col-md-3 .search-results-record .edit-icon {
            position: absolute;
            border-radius: 50%;
            padding: 0 5px;
            top: 15px;
            opacity: 0;
            background: #dadada;
            font-size: 15px;
            -moz-transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            left: 145px;
            color: #000000; }
        #search-results .col-md-12 .row .col-md-3 .search-results-record:hover .remove-icon,
        #search-results .col-md-12 .row .col-md-3 .search-results-record:hover .edit-icon,
        #search-results .col-md-12 .row .col-md-3 .search-results-record:hover .play-icon {
          opacity: 1; }
      #search-results .col-md-12 .row .col-md-9 {
        border-left: 1px dotted #dadada; }
        #search-results .col-md-12 .row .col-md-9 .search-results-album-name {
          margin-top: 0;
          margin-bottom: 10px;
          font-weight: bold; }
        #search-results .col-md-12 .row .col-md-9 .search-results-album-description {
          text-align: justify;
          margin-top: 10px;
          letter-spacing: 0.5px; }
        #search-results .col-md-12 .row .col-md-9 .search-results-full-album-button {
          background-color: black;
          display: block;
          cursor: pointer;
          color: white;
          font-size: 20px;
          padding: 10px;
          text-decoration: none;
          border: none;
          width: 250px;
          box-sizing: border-box; }
          #search-results .col-md-12 .row .col-md-9 .search-results-full-album-button:hover {
            background-color: #0F70A1;
            color: white; }
