html, body {
  font-family: 'Heebo', sans-serif;
  color: black; }

/* hebrew */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  src: local("Heebo"), local("Heebo-Regular"), url(https://fonts.gstatic.com/s/heebo/v3/q17xXvwvpCd8fBgEBABP9w.woff2) format("woff2");
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F; }

/* latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  src: local("Heebo"), local("Heebo-Regular"), url(https://fonts.gstatic.com/s/heebo/v3/Q66imbW5v9YuQMRLd0RXOA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

img {
  height: 250px;
  width: 250px;
  box-sizing: border-box; }

#container-full .row .col-md-12 {
  /*Header*/ }
  #container-full .row .col-md-12 header {
    position: relative;
    display: block;
    background: #0F70A1;
    height: 80px;
    box-sizing: border-box; }
    #container-full .row .col-md-12 header .pull-left a {
      color: #ffffff;
      text-decoration: none;
      cursor: pointer;
      font-size: 20px; }
      #container-full .row .col-md-12 header .pull-left a .fa-plus-circle {
        color: #ffffff;
        font-size: 20px;
        cursor: pointer;
        margin-top: 30px;
        margin-left: 20px; }
    #container-full .row .col-md-12 header .pull-right {
      /*Search window*/ }
      #container-full .row .col-md-12 header .pull-right #search-area input[type=search] {
        width: 200px;
        padding: 5px;
        font-size: 16px;
        border-radius: 5px;
        border: 3px double;
        background-color: #ffffff;
        margin-top: 22px;
        resize: none;
        box-sizing: border-box;
        margin-right: 10px; }
      #container-full .row .col-md-12 header .pull-right #search-area #search {
        color: #ffffff;
        font-size: 20px;
        cursor: pointer;
        margin-right: 20px;
        background: transparent;
        border: none; }
        #container-full .row .col-md-12 header .pull-right #search-area #search .fa-search {
          right: 20px;
          top: 30px;
          position: absolute; }

#container-full #main-container {
  padding: 35px 0;
  box-sizing: border-box;
  min-height: 400px; }

/*Album information & player*/
#album button[disabled] {
  opacity: .5; }

#album #aside-left {
  width: 250px;
  height: 400px;
  float: left;
  margin-left: 100px;
  position: relative;
  display: block;
  margin-bottom: 75px;
  top: 50px;
  background: -webkit-linear-gradient(left top, #000000, #282828, #ffffff);
  /* Webkit (Chrome 11+) */
  background: -moz-linear-gradient(left top, #000000, #282828, #ffffff);
  /* Firefox */ }
  #album #aside-left #album-info-controls {
    padding: 0;
    margin: 10px;
    width: 35px; }
    #album #aside-left #album-info-controls .remove-icon {
      position: absolute;
      border-radius: 50%;
      padding: 0 7px;
      top: 0;
      background: #dadada;
      font-size: 24px;
      -moz-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      color: #000000; }
    #album #aside-left #album-info-controls .edit-icon {
      position: absolute;
      border-radius: 50%;
      padding: 0 7px;
      top: 40px;
      background: #dadada;
      font-size: 24px;
      -moz-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      color: #000000; }
  #album #aside-left #album-info-image {
    height: 250px;
    width: 250px;
    position: absolute;
    left: 125px;
    top: 70px; }
    #album #aside-left #album-info-image img {
      display: none; }
  #album #aside-left #album-info-menu {
    margin-top: 175px;
    font-size: 20px; }
    #album #aside-left #album-info-menu .album-info-links a {
      color: #ffffff;
      text-decoration: none;
      margin-left: 10px; }
    #album #aside-left #album-info-menu .active {
      font-weight: bold; }

#album #album-info-player {
  width: 850px;
  float: left;
  margin-top: 50px; }
  #album #album-info-player #player-wrapper {
    position: absolute;
    left: 100px;
    top: 165px; }
    #album #album-info-player #player-wrapper iframe {
      height: 250px;
      width: 250px;
      position: absolute;
      left: 125px;
      top: 70px; }
  #album #album-info-player #album-info-text {
    height: 400px;
    margin-left: 125px; }
    #album #album-info-player #album-info-text #album-info-name {
      font-weight: bold;
      margin: 0 20px 10px; }
    #album #album-info-player #album-info-text #album-info-year {
      margin: 10px 20px;
      display: inline-block; }
    #album #album-info-player #album-info-text ul#album-info-genres {
      margin-bottom: 0;
      padding-left: 25px;
      display: inline-block; }
      #album #album-info-player #album-info-text ul#album-info-genres li {
        margin-right: 25px;
        display: inline-block; }
      #album #album-info-player #album-info-text ul#album-info-genres li:last-child {
        margin-right: 0; }
    #album #album-info-player #album-info-text #album-info-description {
      letter-spacing: 0.5px;
      text-align: justify;
      margin: 10px 20px 20px;
      display: none; }
    #album #album-info-player #album-info-text #player-controls #now-playing-song {
      display: block;
      font-size: 20px;
      margin-top: 5px;
      margin-left: 20px; }
    #album #album-info-player #album-info-text #player-controls #controls {
      margin-top: 5px;
      margin-left: 20px; }
    #album #album-info-player #album-info-text #player-controls #player-playlist {
      margin-top: 10px;
      padding: 0;
      margin-left: 40px;
      font-size: 18px; }
      #album #album-info-player #album-info-text #player-controls #player-playlist li {
        cursor: pointer;
        padding-left: 5px; }
        #album #album-info-player #album-info-text #player-controls #player-playlist li.playing {
          font-weight: bold; }

/*Album list (display of disks)*/
#album-list {
  min-height: 400px;
  top: 40px;
  margin-left: 50px;
  margin-right: 50px; }
  #album-list .loading {
    background: url(../images/loader.gif) no-repeat center center; }
  #album-list .row {
    margin: 10px; }
    #album-list .row .col-md-3 {
      padding-right: 0;
      padding-left: 0;
      margin-bottom: 50px; }
      #album-list .row .col-md-3 .record {
        position: relative;
        display: block;
        opacity: 0.75; }
        #album-list .row .col-md-3 .record:hover {
          opacity: 1; }
        #album-list .row .col-md-3 .record:before {
          position: absolute;
          content: ' ';
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: #ffffff;
          z-index: 1;
          left: calc(50% - 25px);
          top: calc(50% - 5px); }
        #album-list .row .col-md-3 .record .text-center .album-list-name {
          font-weight: bold; }
        #album-list .row .col-md-3 .record img {
          margin-top: 20px; }
        #album-list .row .col-md-3 .record .play-icon {
          position: absolute;
          top: 145px;
          opacity: 0;
          font-size: 30px;
          transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          color: #000000;
          text-align: center;
          width: 100%;
          z-index: 5;
          left: 2px;
          cursor: default; }
          #album-list .row .col-md-3 .record .play-icon .fa-play {
            cursor: pointer; }
        #album-list .row .col-md-3 .record .remove-icon {
          position: absolute;
          border-radius: 50%;
          padding: 0 5px;
          top: 55px;
          opacity: 0;
          background: #dadada;
          font-size: 15px;
          -moz-transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          left: 115px;
          color: #000000; }
        #album-list .row .col-md-3 .record .edit-icon {
          position: absolute;
          border-radius: 50%;
          padding: 0 5px;
          top: 55px;
          opacity: 0;
          background: #dadada;
          font-size: 15px;
          -moz-transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          left: 145px;
          color: #000000; }
      #album-list .row .col-md-3 .record:hover .play-icon,
      #album-list .row .col-md-3 .record:hover .remove-icon,
      #album-list .row .col-md-3 .record:hover .edit-icon {
        opacity: 1; }

#add-new-album #add-new-album-details {
  margin-left: 100px;
  margin-right: 100px;
  /*Add New Album*/
  /*Add Album Playlist*/ }
  #add-new-album #add-new-album-details input.error-value {
    border: 1px solid red; }
  #add-new-album #add-new-album-details #add-new-album-title {
    border-bottom: 1px solid #dadada; }
    #add-new-album #add-new-album-details #add-new-album-title h1 {
      margin: 0;
      text-align: center;
      padding-bottom: 15px;
      font-weight: bold; }
  #add-new-album #add-new-album-details .col-md-12 #add-new-album-form #image-cover-preview img {
    margin: 20px; }
  #add-new-album #add-new-album-details .col-md-12 #add-new-album-form #image-cover-preview:before {
    position: absolute;
    content: ' ';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ffffff;
    z-index: 1;
    right: calc(50% - 375px);
    top: calc(50% - 145px); }
  #add-new-album #add-new-album-details .col-md-12 #add-new-album-form .col-md-8 {
    margin: 20px; }
    #add-new-album #add-new-album-details .col-md-12 #add-new-album-form .col-md-8 .form-group .form-control {
      width: 85%;
      display: inline-block;
      margin-left: 6px;
      border: 3px double black; }
    #add-new-album #add-new-album-details .col-md-12 #add-new-album-form .col-md-8 .form-group input[name="album-artist-name"] {
      margin-left: 53px; }
    #add-new-album #add-new-album-details .col-md-12 #add-new-album-form .col-md-8 .form-group input[name="album-image-url"] {
      margin-left: 20px; }
    #add-new-album #add-new-album-details .col-md-12 #add-new-album-form .col-md-8 .form-group input[name="album-year"] {
      margin-left: 59px; }
    #add-new-album #add-new-album-details .col-md-12 #add-new-album-form .col-md-8 .form-group input[type="checkbox"]:first-of-type {
      margin-left: 45px; }
    #add-new-album #add-new-album-details .col-md-12 #add-new-album-form .col-md-8 .form-group input[type="checkbox"] {
      margin-left: 3px; }
    #add-new-album #add-new-album-details .col-md-12 #add-new-album-form .col-md-8 .form-group textarea[name="album-description"] {
      margin-left: 0;
      width: 85%;
      margin-top: 0;
      height: 250px;
      text-align: justify;
      resize: none;
      float: right; }
  #add-new-album #add-new-album-details .col-md-12 #reset-album {
    background-color: black;
    display: block;
    cursor: pointer;
    color: white;
    font-size: 20px;
    padding: 12px 24px;
    text-decoration: none;
    border: none;
    width: 250px;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-top: 20px; }
    #add-new-album #add-new-album-details .col-md-12 #reset-album:hover {
      background-color: #0F70A1;
      color: white; }
  #add-new-album #add-new-album-details .col-md-12 #save-album {
    background-color: black;
    display: block;
    cursor: pointer;
    color: white;
    font-size: 20px;
    padding: 12px 24px;
    text-decoration: none;
    border: none;
    width: 250px;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-right: 20px; }
    #add-new-album #add-new-album-details .col-md-12 #save-album:hover {
      background-color: #0F70A1;
      color: white; }
  #add-new-album #add-new-album-details #add-album-playlist-title {
    border-bottom: 1px solid #dadada; }
    #add-new-album #add-new-album-details #add-album-playlist-title h1 {
      margin: 0;
      text-align: center;
      padding-bottom: 15px;
      font-weight: bold; }
  #add-new-album #add-new-album-details .col-md-12 #add-album-playlist-form {
    margin: 20px; }
    #add-new-album #add-new-album-details .col-md-12 #add-album-playlist-form .col-md-12 .form-group .form-control {
      width: 85%;
      display: inline-block;
      margin-left: 6px;
      border: 3px double black; }
    #add-new-album #add-new-album-details .col-md-12 #add-album-playlist-form .col-md-12 .form-group input[name="song-name"] {
      width: 210px;
      margin-left: auto; }
    #add-new-album #add-new-album-details .col-md-12 #add-album-playlist-form .col-md-12 .form-group .youtube-url-label {
      position: absolute;
      top: 8px;
      left: 310px; }
    #add-new-album #add-new-album-details .col-md-12 #add-album-playlist-form .col-md-12 .form-group input[name="youtube-url"] {
      width: 355px;
      position: absolute;
      top: 0;
      left: 400px;
      margin-left: auto; }
    #add-new-album #add-new-album-details .col-md-12 #add-album-playlist-form .col-md-12 .form-group .song-time-label {
      position: absolute;
      top: 8px;
      left: 760px; }
    #add-new-album #add-new-album-details .col-md-12 #add-album-playlist-form .col-md-12 .form-group input[name="song-time"] {
      width: 73px;
      position: absolute;
      top: 0;
      left: 835px;
      margin-left: auto;
      text-align: center; }
    #add-new-album #add-new-album-details .col-md-12 #add-album-playlist-form .col-md-12 .form-group .remove-icon {
      position: absolute;
      border-radius: 50%;
      padding: 0 7px;
      top: 0;
      background: #dadada;
      font-size: 24px;
      -moz-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      left: 920px;
      color: #000000; }
    #add-new-album #add-new-album-details .col-md-12 #add-album-playlist-form .row {
      margin: 10px; }
    #add-new-album #add-new-album-details .col-md-12 #add-album-playlist-form #add-another-song {
      background-color: transparent;
      display: block;
      cursor: pointer;
      font-size: 20px;
      text-decoration: none;
      border: none;
      box-sizing: border-box;
      padding: 12px; }
    #add-new-album #add-new-album-details .col-md-12 #add-album-playlist-form #finish-and-save-button {
      background-color: black;
      display: block;
      cursor: pointer;
      color: white;
      font-size: 20px;
      padding: 12px 24px;
      text-decoration: none;
      border: none;
      width: 250px;
      box-sizing: border-box; }
      #add-new-album #add-new-album-details .col-md-12 #add-album-playlist-form #finish-and-save-button:hover {
        background-color: #0F70A1;
        color: white; }

#search-results {
  margin-left: 50px;
  margin-right: 50px;
  /*Search results - header*/
  /*Search results - Body*/ }
  #search-results .search-results-title {
    border-bottom: 1px solid #dadada; }
    #search-results .search-results-title h1 {
      margin: 0;
      text-align: center;
      padding-bottom: 15px;
      font-weight: bold; }
  #search-results .col-md-12 {
    padding-top: 10px; }
    #search-results .col-md-12 .row {
      border-bottom: 3px double #dadada;
      padding-top: 10px;
      padding-bottom: 10px; }
      #search-results .col-md-12 .row .col-md-3 {
        padding-left: 0;
        padding-right: 0; }
        #search-results .col-md-12 .row .col-md-3 .search-results-record {
          border-right: 1px dotted #dadada;
          position: relative;
          display: block;
          opacity: 0.75; }
          #search-results .col-md-12 .row .col-md-3 .search-results-record:hover {
            opacity: 1; }
          #search-results .col-md-12 .row .col-md-3 .search-results-record:before {
            position: absolute;
            content: ' ';
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #ffffff;
            z-index: 1;
            left: calc(50% - 25px);
            top: calc(50% - 25px); }
          #search-results .col-md-12 .row .col-md-3 .search-results-record .play-icon {
            position: absolute;
            top: 105px;
            opacity: 0;
            font-size: 30px;
            transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            color: #000000;
            text-align: center;
            width: 100%;
            z-index: 5;
            left: 3px;
            cursor: default; }
            #search-results .col-md-12 .row .col-md-3 .search-results-record .play-icon .fa-play {
              cursor: pointer; }
          #search-results .col-md-12 .row .col-md-3 .search-results-record .remove-icon {
            position: absolute;
            border-radius: 50%;
            padding: 0 5px;
            top: 15px;
            opacity: 0;
            background: #dadada;
            font-size: 15px;
            -moz-transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            left: 115px;
            color: #000000; }
          #search-results .col-md-12 .row .col-md-3 .search-results-record .edit-icon {
            position: absolute;
            border-radius: 50%;
            padding: 0 5px;
            top: 15px;
            opacity: 0;
            background: #dadada;
            font-size: 15px;
            -moz-transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            left: 145px;
            color: #000000; }
        #search-results .col-md-12 .row .col-md-3 .search-results-record:hover .remove-icon,
        #search-results .col-md-12 .row .col-md-3 .search-results-record:hover .edit-icon,
        #search-results .col-md-12 .row .col-md-3 .search-results-record:hover .play-icon {
          opacity: 1; }
      #search-results .col-md-12 .row .col-md-9 .search-results-album-name {
        margin-top: 0;
        margin-bottom: 10px;
        font-weight: bold; }
      #search-results .col-md-12 .row .col-md-9 .search-results-album-description {
        text-align: justify;
        margin-top: 10px;
        letter-spacing: 0.5px;
        height: 160px; }
      #search-results .col-md-12 .row .col-md-9 .search-results-description-button {
        background-color: black;
        display: block;
        cursor: pointer;
        color: white;
        font-size: 20px;
        padding: 10px;
        text-decoration: none;
        border: none;
        width: 250px;
        box-sizing: border-box; }
        #search-results .col-md-12 .row .col-md-9 .search-results-description-button:hover {
          background-color: #0F70A1;
          color: white; }
      #search-results .col-md-12 .row .search-results-playlist {
        border-left: 1px dotted #dadada;
        height: 250px;
        margin-bottom: 10px; }
        #search-results .col-md-12 .row .search-results-playlist .search-results-playlist-title {
          margin-top: 0;
          margin-bottom: 10px;
          font-weight: bold; }
        #search-results .col-md-12 .row .search-results-playlist .search-results-playlist-songs {
          margin-top: 10px;
          padding: 0;
          margin-left: 15px;
          letter-spacing: 0.5px;
          text-align: justify;
          width: 180px; }
        #search-results .col-md-12 .row .search-results-playlist .search-results-full-playlist-button {
          background-color: black;
          display: block;
          cursor: pointer;
          color: white;
          font-size: 20px;
          padding: 10px;
          text-decoration: none;
          border: none;
          width: 170px;
          box-sizing: border-box; }
          #search-results .col-md-12 .row .search-results-playlist .search-results-full-playlist-button:hover {
            background-color: #0F70A1;
            color: white; }
